*{
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: rgb(120, 193, 213);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(14, 116, 147);
    height: 80px;
    text-align: center;
}

header span{
    font-size: 70px;
    color: white;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid rgb(62, 149, 255);
}

.box-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    border: 1px solid white;
}

.box-lista{
    display: flex;
    width: 70%;
    border: 1px solid white;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 0;
    border-bottom: 1px dotted #081ca0
}

input:checked + label {
    text-decoration: line-through;
    color: #081ca0;
}